#header {
  display: flex;
}

#headerText {
  padding: 20px;
  margin-right: auto;
  font-size: clamp(1.2rem, 2.8vw, 3rem);
}

#headerText > h1 {
  color: var(--white);
}

.profile {
  object-fit: cover;
  width: clamp(10rem, 20vw, 20rem);
  border-radius: 1000px;
  border: 2px solid var(--green);
  margin-right: auto;
}

.infoCards {
  display: flex;
  flex-wrap: wrap;
}

.infoCard {
  width: clamp(8rem, 17vw, 20rem);
  font-size: clamp(0.8rem, 1.5vw, 2rem);
  padding: 10px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  border: 2px solid var(--green);
}

.infoCard > h1 {
  font-weight: 600;
  color: var(--white);
}

#contactButtons {
  display: flex;
}

#contactButtons > button {
  border: 2px solid var(--green);
  background-color: var(--green);
  border-radius: 60px;
  padding: 10px;
  height: 53px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#contactButtons > button:hover {
  background-color: transparent;
}

#connectButton {
  margin-left: auto;
}

#buttonContent {
  display: flex;
  text-decoration: none;
  color: white;
}

#buttonContent > i {
  margin-top: 4px;
  margin-left: 8px;
}

#buttonContent > p {
  font-size: 1.3rem;
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 1000px) {
  #header {
    flex-direction: column;
  }
  #headerText {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: auto;
  }

  #header {
    margin-bottom: 0px;
  }

  .profile {
    object-fit: cover;
    width: 10rem;
    border-radius: 1000px;
    border: 2px solid var(--green);
    margin-right: auto;
  }
}

@media only screen and (max-width: 720px) {
  .infoCard {
    width: 40%;
  }
}

@media only screen and (max-width: 460px) {
  #buttonContent > p {
    font-size: clamp(0.8rem, 4.2vw, 1rem);
  }
  #buttonContent > i {
    font-size: clamp(0.7rem, 4vw, 1rem);    
  }

  #contactButtons > button {
    height: 46px;
    height: clamp(2.5rem, 10vw, 46px);
  }
}
