:root {
  --purple: #622569;
  --green: #1c4342;
  --light-green: #2e6866;
  --border: #22222234;
  --grey: #c7c7c7;
  --white: #f3f3f3;
}

.master {
  background-color: var(--grey);
  font-family: "Markazi Text", serif;
  color: var(--grey);
  background-image: linear-gradient(
    90deg,
    var(--green),
    var(--light-green) 45% 55%,
    var(--green)
  );
}

h1 {
  color: var(--white);
}

.mainDiv {
  margin-left: 15%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 10%;
}

.section {
  margin-bottom: 60px;
}

.navbar {
  background-color: var(--green);
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border);
  font-size: x-large;
}

.bottom-contacts {
  background-color: var(--green);
  padding-top: 10px;
  padding-bottom: 10px;
}

button.icon-button {
  background-color: var(--light-green);
  border: 0px;
  border-radius: 60px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: large;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.icon-link {
  color: black;
  text-decoration: none;
  font-size: x-large;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  display: flex;
  position: relative;
  color: white;
  text-decoration: none;
  width: clamp(15rem, 18vw, 20rem);
  height: clamp(12rem, 16vw, 10rem);
  margin: clamp(0.1rem, 0.5vw, 0.5rem);
  font-size: clamp(1.5rem, 2vw, 3rem);
}

.menu-title {
  position: absolute;
  top: 5%;
  left: 5%;
  text-shadow: black 0px 1px 10px;
  z-index: 2;
}

.small-image {
  opacity: 0.8;
  transition: opacity 400ms ease;
  object-fit: cover;
  width: inherit;
  height: inherit;
  border-radius: 10px;
  z-index: 1;
}

.menu-item:hover > .small-image {
  opacity: 1;
}
